
* ,
*::before ,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --color-primary :#0E5D80;
    --color-secondary-light : #53B9D9;
    --color-secondary-dark :#5BB1CC;
    --color-white : #FFFFFF;
    --color-ability-section : #7EDCF9;
    --color-font-footer: #F4F5F7;
    --color-font-btn-hero: #399DBC;
}

html {
        font-size: 62.5%;
}

body {
    background: var(--color-secondary-light);
}
@media screen and (min-width: 1024px) {
    body {
        background: linear-gradient(243.02deg, #10A9DA -9.92%, #92E5FF 106.28%);
    }
    
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
h1,h2{
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: var(--color-white);
}
h3 {
    font-size: 2rem;
    line-height: 3rem;
    color: var(--color-primary);
}
h4 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 9rem;
        line-height: 13.5rem;
    }
    h2 {
        font-size: 6.4rem;
        line-height: 9.6rem;
        color: var(--color-white);
    }
    h3 {
        font-size: 6.4rem;
        line-height: 9.6rem;
    }

    h4 {
        font-size: 5.4rem;
        line-height: 8.1rem;
    }
    h5 {
        font-size: 6rem;
        list-style: 9rem;
    }
}
/* Container */
.container {
    max-width: 1440px;
    margin: 0 auto;
}
/* List */
.list {
    list-style: none;
    font-size: 1.8rem;
}
/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    margin-right: 1rem;
}
.nav__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.nav.nav__expanded .nav__list{
    max-height: 100vh;
    opacity: 1;
}

.nav__item {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;   
    text-align: right;
}

.nav__item > a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 2rem;
    display: block;
    padding: 0.5rem 0;
    transition: all 0.4s ease-out;
}
.nav__item > a:hover {
    color: var(--color-primary);
}

.nav__item.cta {
    font-size: 1.4rem;
    border: none;
}
.nav__item.cta a {
    color: var(--color-white);
    font-size: 1.4rem;
}
.nav__item .btn {
    padding: 1rem 3rem;
}

@media screen and (min-width:1024px) {
    .nav {
        padding: 0 2rem;
        margin-right: 3rem;
    }
    .nav__toggler {
        display: none;
    }   
    .nav__list {
        flex-direction: row;
        align-items: center;
        width: auto;
        opacity: 1;
        max-height: 100%;
    }
    .nav__item {
        margin-right: 5rem;
        margin-bottom: 0;
        font-size: 1.6rem;
        border: 0;
    }
    .nav .btn_tert {
        display: none;
    }
}
/* Toggler */
.nav__toggler {
    cursor: pointer;
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 1rem 1rem;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #444;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}
.nav.nav__expanded .bar-one {
    transform: rotate(-45deg) translate(-9px,6px);
}
.nav.nav__expanded .bar-two {
    opacity: 0;
    transform: translateX(-20px);
}
.nav.nav__expanded .bar-three {
    transform: rotate(45deg) translate(-8px,-7px);
    margin: 8px 0;
}
/* Buttons */
.btn {
    cursor: pointer;
    outline: 0;
    border: 0;
    border-radius: 10px;
    padding: 1rem 2.2rem;
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 2rem;
    font-family: 'Vazir';
    font-weight: bold;
    
}

.btn--block {
    width: 100%;
}
.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-secondary-light);
}
.btn--secondary {
    color: var(--color-white);
    border: 3px solid var(--color-white);   
}
.btn--tertiary {
    color: var(--color-white);
    background-color: var(--color-primary);
}
.btn--hero {
   color: var(--color-font-btn-hero);
   background-color: #F5F5F5;
   margin-right: 1.5rem;
   margin-top: 3rem;
}
.nav .btn_tert {
    margin-right: 6rem;
}

@media screen and (min-width:1024px){
    .btn--hero {
        color: var(--color-secondary-light);
        background: #F5F5F5;
        box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
        margin-right: 4rem;
    }
}

/* Hero Section */
.hero-section {
    position: relative;
    width: 100%;
    height: 478px;

}
.hero-section .banner-img {
    width: 280px;
    height: auto;
    float: left;
    margin: 4rem;
}

.banner-phone {
    display: none;
    position: absolute;
    width: 220px;
    height: auto;
    left: 5%;
    bottom: -5%;
}

.hero-title {
    margin: 2rem 1.5rem 2rem auto ;
}
.hero-text {
    color: var(--color-white);
    font-size: 1.8rem;
    font-weight: 500;
    text-align: right;
    line-height: 27px;
    margin: 1.9rem 1.7rem 3rem 1.6rem;
}

@media screen and (min-width:1024px) {
    .hero-section .banner-img {
        width: 500px;
        height: auto;
    }
    .banner-phone {
        display: block;
    }
    .hero-title {
        margin: 2rem 4rem 3.5rem auto;
    }
    .hero-text {
        margin: 3.5rem 4rem auto auto;
        font-size: 3.6rem;
        line-height: 54px;
    }
}

/* Services */
.services {
    margin-top: 30rem;
}
.services__tabs {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-top: 2rem;
}
/* .services__tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1.7rem;
    margin-left: 1.6rem;
    flex-wrap: wrap;
} */
.tab {
    display: grid;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}
/* .tab {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90px;
    margin-top: 3rem;
} */

/* .tab__image {
    display: flex;
    flex-direction: column;
} */
.tab__text {
    font-size: 1.8rem; 
    line-height: 2rem;
    color: var(--color-white);
    margin-top: -1.8rem;
}

@media screen and (min-width:1024px) {
    .services {
        margin-top: 20rem;
    }
    .services__tabs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .tab {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .tab__text {
        font-size: 4rem; 
        line-height: 6rem;
        color: var(--color-white);
        margin-top: -2.8rem;
    }
}

/* Device section */
.device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 2rem 3rem 1rem;
}
.device__img_1x {
    display: block;
    width: 316px;
    height: auto;
    margin: 5rem 4rem 3rem auto;
}
.device__header {
    text-align: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.device__text {
    width: 342px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: right;
    margin: 2rem 4.5rem 4rem 3rem;
    color: var(--color-white);
}
.device__img_2x {
    display: none;
}

@media screen and (min-width:1024px) {
    .device {
        margin: 15rem auto auto auto;
    }
    .device__header {
        margin: auto auto 4rem auto;
    }
    .device__img_1x {
        display: none;
    }
    .device__img_2x {
        display: block;
        width: 758px;
        height: auto;
        margin: 9rem 34rem 10rem 34rem;
    }
    .device__text {
        width: 100%;
        font-size: 3.5rem;
        line-height: 5rem;
        text-align: center;
        margin-bottom: 6rem;
    }
}
/* child section */
.child_img {
    background-image: url(/assets/images/child_1x.png);
    height: 168px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #F6F6F6;
    position: relative;
    margin-left: -4.95rem;
}
.child_text {
    position: absolute;
    text-align: right;
    top: 5%;
    right: 35%;
}
.child_text h4 {
    margin: 1.5rem auto 1rem auto;
}
.child_text p {
    width: 237px;
    font-size: 1.4rem;
    line-height: 2rem;
}
.btn__child_1 {
    background-color: #71C4DE;
    color: var(--color-white);
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}
.btn__child_2 {
    display: none;
}
@media screen and (min-width:1024px) {
    .child_img {
        background-image: url(/assets/images/child_2x.png);
        height: 473px;
        margin: auto;
    }
    .child_text h4{
        margin: 4rem auto 3rem auto;
    }   
    .child_text p {
        width: 770px;
        color: #5B5B5B;
        font-size: 3.4rem;
        line-height: 5.4rem;
        margin-bottom: 5.5rem;
    }
    .btn__child_1 {
        display: none;
    }
    .btn__child_2 {
        display: inline;
        background-color: var(--color-secondary-dark);
        box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
        color: var(--color-white);
        font-size: 3rem;
        line-height: 4.8rem;
    }
}
/* management section */
.management_background {
    background-color: #F6F6F6;
    height: 334px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 5rem;
    padding-right: 1.5rem;
    margin-left: -4.95rem;
    
}
.management_img {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    
    /* background-image: url(/assets/images/iphone12-1x.png); */
    /* image-rendering: pixelated; */
    /* width: 111px;
    margin: auto 1.6rem 6rem auto;
    background-position: right;
    background-repeat: no-repeat; */
}
.management_text {
    margin: 3rem 1.5rem auto 1.5rem;
}
.management_text p {
    text-align: right;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 500;
    color: #5B5B5B;
    margin: 2.5rem auto 1rem auto;
}
.btn__management_1 {
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    background-color: var(--color-white);
    font-size: 1.4rem;
    line-height: 1rem;
    font-weight: 700;
    color: var(--color-primary);
    padding: 1.2rem;
}
.btn__management_2 {
    display: none;
}

@media screen and (min-width:1024px) {
    .management_background {
        width: 100%;
        height: 777px;
        background-color: var(--color-white);
    }
    .management_text {
        margin: 2rem 1rem auto 1rem;
    }
    .management_text p {
        padding-left: 2rem;
        font-size: 3.6rem;
        line-height: 5.4rem;
        color: #474747;
        text-align: right;
        margin: 5rem auto 8rem 2rem ;
    }
    .btn__management_1 {
        display: none;
    }
    .btn__management_2 {
        display: block;
        border: 3px solid var(--color-primary);
        background-color: var(--color-white);
        font-size: 3.2rem;
        line-height: 4.8rem;
        color: var(--color-primary);
        font-weight: 700;
    }
}

/* Ability section */
.ability {
    background: var(--color-secondary-light);
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin-right: 3rem;
}
.ability_sec {
    display: grid;
    width: 100%;
    min-width: 375px;
    grid-template-columns: auto auto;
    gap: 1rem 1.5rem;
    padding: 10px;
    /* margin: 4rem auto; */
}
.ability_cell {
    padding: 5px;
}
.ability_image {
    border-radius: 8px;
}
.ability_text {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: right;
    color: #474747;
    line-height: 1.9rem;
    margin-top: 1rem;
}
.ability_title {
    display: none;
}
@media screen and (min-width:1024px) {
    .ability {
        background-color: var(--color-ability-section);
        height: 727px;
        margin-right: auto;
    }
    .ability_title {
        display: block;
        color: var(--color-primary);
        margin-right: 16rem;
    }
    .ability_sec {
        display: flex;
        flex-direction: row;
        justify-content:center;
        flex-wrap: nowrap;
        margin-top: 5rem;
    }
    .ability_cell {
        width: 255px;
        margin-right: 3rem;
    }
    .ability_image {
        border-radius: 5px;
    }
    .ability_text {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 3.6rem;
        margin-top: 4rem;
        text-align: right;
    }
}

/* partners */
.partners {
    background-color: var(--color-secondary-light);
    display: grid;
    padding: 2rem;
    gap: 0rem 5rem;
}
.partners_detail {
    margin-right: 1.2rem;
}
.partners_text {
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-top: 2rem;
    text-align: right;
    color: #474747;
}
.partners_image {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}
.partners_image > picture {
    width: 100%;
    height: auto;
}

@media screen and (min-width:1024px) {
    .partners {
        background-color: var(--color-white);
        grid-template-columns: repeat(2,1fr);
    }
    .partners_detail {
        margin: 8rem 10rem auto auto;
    }
    .partners_text {
        font-size: 3.6rem;
        line-height: 5.4rem;
        margin-top: 5rem;
    }
}
/* Footer */

.main-footer {
    background-color: #146183;
    height: 580px;
    min-width: 375px;
    margin-left: -5rem;
}
.footer_items {
    display: grid;
    padding: 2rem;
    gap: 5rem 5rem;
    grid-template-columns: repeat(2,1fr);
}
.footer_title {
    font-size: 2rem;
    line-height: 3rem;
    text-align: right;
    color: #F4F5F7;
    margin-bottom: 1.7rem;
}
.footer_text {
    display: block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: right;
    color: #EEEFF4;
    margin-bottom: 1.3rem;
    text-decoration: none;
}
.footer_badges {
    display: flex;
    flex-direction: column;
}
.badge_btn_1 > img {
    margin-bottom: 1.7rem;
}

.line {
    width: 100%;
    border: solid 1px var(--color-white);
    opacity: 0.2;
    margin: 3rem auto 2rem auto;

}
.social_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 24px;
}
.icon_container {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    text-align: center;
    background-color: #1d7195;
    border-radius: 100%;
    cursor: pointer;
    font-size: 2rem;
    color: var(--color-white);
}
.icon_container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.5rem;
    margin-top: 0.5rem;
  }

.copyright > p {
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #D9DBE1;
    margin-top: 2rem;
}

@media screen and (min-width:1024px) {
    .main-footer {
        background: var(--color-secondary-light);
        height: 454px;
        margin-left: auto;
    }
    .footer_items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-right: 10rem;
        padding-top: 6rem;
    }
    .footer_title {
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: #F4F5F7;
    }
    .footer_text {
        font-size: 2rem;
        line-height: 3rem;
    }
    .social {
        display: flex;
        justify-content: space-around;
    }
    .social_icons {
        margin-top: 2rem;
    }
    .icon_container {
        width: 32px;
        height: 32px;
        background-color: #56afca;
        color: var(--color-white);
    }
    .copyright {
        font-size: 1.8rem;
        line-height: 2.7rem;
    }
}

