<footer class="main-footer">
    <section class="footer_items">
        <div class="footer_item">
            <h6 class="footer_title">بانواز</h6>
            <a href="" class="footer_text">خانه</a>
            <a href="" class="footer_text">فروشگاه</a>
            <a href="" class="footer_text">ورود به داشبورد</a>
        </div>
        <div class="footer_item">
            <h6 class="footer_title">فروشگاه</h6>
            <a href="" class="footer_text">دستگاه مرکزی</a>
            <a href="" class="footer_text">سنسورهای داخلی</a>
            <a href="" class="footer_text">سنسورهای خارجی</a>
        </div>
        <div class="footer_item">
            <h6 class="footer_title">بانواز</h6>
            <a href="" class="footer_text">درباره بانواز</a>
            <a href="" class="footer_text">وبلاگ</a>
            <a href="" class="footer_text">موقعیت شغلی</a>
            <a href="" class="footer_text">تماس با ما</a>
        </div>
        <div class="footer_badges">
            <h6 class="footer_title">دانلود اپلیکیشن</h6>
            <a href="" class="badge_btn_1">
                <img src="./assets/images/Google_Play_Badge.png" alt="google play badge" class="badge_img">
            </a>
            <a href="" class="badge_btn_2">
                <img src="./assets/images/App_Store_Badge.png" alt="app store badge" class="badge_img">
            </a>
        </div>
    </section>
    <div class="line"></div>
    <div class="social">
        <div class="social_icons">
            <span class="icon_container">
                <i class="fa-brands fa-youtube"></i>
            </span>
            <span class="icon_container">
                <i class="fa-brands fa-twitter"></i>
            </span>
            <span class="icon_container">
                <i class="fa-brands fa-dribbble"></i>
            </span>
            <span class="icon_container">
                <i class="fa-brands fa-instagram"></i>
            </span>
        </div>
        <div class="copyright">
            <p>تمامی حقوق متعلق به بانواز می باشد.</p>
        </div>
    </div>
</footer>