<section class="hero-section">
    <picture>
        <source media="(max-width : 1024px)" srcset="./assets/images/hero_sec_1.png" />
        <source media="(min-width: 1025px)" srcset="./assets/images/hero_sec_2.png" />
        <img src="./assets/images/hero_sec_2.png" alt="hero" class="banner-img"> 
    </picture>
    <picture>
        <source media="(min-width: 1025px)" srcset="./assets/images/iPhone_12.png" />
        <img src="./assets/images/iPhone_12.png" alt="iphone" class="banner-phone">
    </picture>
    <div>
        <h1 class="hero-title">
            خیالت از خونه راحت !
        </h1>
        <p class="hero-text">
            بانواز واژه ای کردی به معنای با خبر ساختن با صدای بلند است. درست مثل بانواز! 
            <br>
            با سنسورهای بانواز از هیچ اتفاقی بی خبر نیستی!
            <br>
            چه خونه باشی چه نه.
        </p>
        <button class="btn btn--hero">فروشگاه بانواز</button>
    </div>
</section>