<section class="management_background">
    <div class="management_img">
        <picture>
            <source media="(max-width : 1024px)" srcset="./assets/images/iphone12-1x.png" />
            <source media="(min-width: 1025px)" srcset="./assets/images/iphone12-2x.png" />
            <img src="./assets/images/iphone12-2x.png" alt="iphoen12">
        </picture>
    </div>
    <div class="management_text">
        <h3>مدیریت خانه روی گوشی!</h3>
        <p>با دانلود اپلیکیشن بانواز میتونی تمامی سنسورها رو روی گوشیت مشاهده و کنترل کنی.</p>
        <button class="btn btn__management_1">فروشگاه بانواز</button>
        <button class="btn btn__management_2">دانلود اپلیکیشن</button>
    </div>
</section>