<section class="partners">
    <div class="partners_detail">
        <h3>رفقای بانواز</h3>
        <p class="partners_text">
            ما افتخار همکاری با بیش از ده ها شرکت رو در بانواز داریم.
        </p>
    </div>
    <div class="partners_image">
        <picture>
            <source media="(max-width : 1024px)" srcset="./assets/images/Logos_1x.png" />
            <source media="(min-width: 1025px)" srcset="./assets/images/Logos_2x.png" />
            <img src="./assets/images/Logos_2x.png" alt="logos" > 
        </picture>
    </div>
</section>