<section class="services container block-plan">
    <div class="services__tabs">
        <a class="tab">
            <picture class="tab__image">
                <source media="(max-width : 1024px)" srcset="./assets/images/door_1x.png" />
                <source media="(min-width: 1025px)" srcset="./assets/images/door_2x.png" />
                <img src="./assets/images/door_2x.png" alt="door" > 
            </picture>
            <p class="tab__text">درب و پنجره</p>
        </a>

        <a class="tab">
            <picture class="tab__image">
                <source media="(max-width : 1024px)" srcset="./assets/images/flower_1x.png" />
                <source media="(min-width: 1025px)" srcset="./assets/images/flower_2x.png" />
                <img src="./assets/images/flower_2x.png" alt="flower" > 
            </picture>
            <p class="tab__text">گل و گیاه</p>
        </a>

        <a class="tab">
            <picture class="tab__image">
                <source media="(max-width : 1024px)" srcset="./assets/images/elec_app_1x.png" />
                <source media="(min-width: 1025px)" srcset="./assets/images/elec_app_2x.png" />
                <img src="./assets/images/elec_app_2x.png" alt="elec_app" > 
            </picture>
            <p class="tab__text">وسایل برقی</p>
        </a>

        <a class="tab">
            <picture class="tab__image">
                <source media="(max-width : 1024px)" srcset="./assets/images/lights_1x.png" />
                <source media="(min-width: 1025px)" srcset="./assets/images/lights_2x.png" />
                <img src="./assets/images/lights_2x.png" alt="lights" > 
            </picture>
            <p class="tab__text">روشنایی</p>
        </a>

        <a class="tab">
            <picture class="tab__image">
                <source media="(max-width : 1024px)" srcset="./assets/images/heater_1x.png" />
                <source media="(min-width: 1025px)" srcset="./assets/images/heater_2x.png" />
                <img src="./assets/images/heater_2x.png" alt="heater" > 
            </picture>
            <p class="tab__text">گرمایشی</p>
        </a>

        <a class="tab">
            <picture class="tab__image">
                <source media="(max-width : 1024px)" srcset="./assets/images/pet_1x.png" />
                <source media="(min-width: 1025px)" srcset="./assets/images/pet_2x.png" />
                <img src="./assets/images/pet_2x.png" alt="pet" > 
            </picture>
            <p class="tab__text">حیوانات</p>
        </a>

    </div>
</section>